* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    color: #fff;
}

body {
    background-image: linear-gradient(rgb(236, 83, 216), rgb(151, 28, 252));
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 140px;
    width: 20%;
    margin-top: 250px;
}

h1 {
    margin-top: 32px;
}

span {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid ;
}

